@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html {
    background-color: rgb(187 227 128);
    color: rgb(25 20 75);
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

.hello {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    place-content: stretch space-around;
}

.fixed-window {
    background-color: white;
    border-radius: 5px;
    bottom: 20px; /* Расстояние от нижнего края экрана */
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    height: 150px; /* Высота окна */
    padding: 10px;
    position: fixed;
    right: 20px;  /* Расстояние от правого края экрана */
    width: 200px; /* Ширина окна */
}
